//Primary colors

$white: #ffffff;
$white-dark: #f2f2f2;

$black: #000000;
$black-low-opacity: rgba($black, 0.5);
$yelow: #ffe600;
$purple: #6854fc;
$purple-light: #9587fd;
$purple-dark: #4234ab;

$blue-light: #aee2ff;

$grey-dark: #f0eeff;
$grey-light: #f0eeff;

$grey-bg: #e5e5e5;
$black-bg: #0a142f;
$red-bg-icon: #fcedee;
$blue-bg-icon: #bed3ff;
$green-bg-icon: #defeea;
$yelow-bg-icon: #ffeea6;

$backgrund-light-grey: #f2f3f4;
$backgrund-light-blue: #cae7e6;

$font-inter: "Inter", sans-serif;

$card-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.1);

$selection-color: $purple-light;
$selection-text-color: $purple;
$outline-color: $purple-light;
